@import 'base/variables';
@import 'base/mixins';
@import 'base/fonts';

* {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1644px;
	width: 85.625%;
    margin: 0 auto;
}

.br {
	display: none;
} 

@import 'blocks/title';
@import 'blocks/button';
@import 'blocks/consult';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/gallery';
@import 'blocks/survey';
@import 'blocks/footer';
@import 'media/general';
