@media (max-width:1440px) {

}
@media (max-width: 1200px) {

}
@media (max-width: 992px) {

}
@media (max-width: 768px) {
    .header_btn {
        width: 92.81%;
        height: 31px;
        font-size: 10px;
    }
}
@media (max-width: 480px) {

}