@media (max-width:1600px) {
    .btn {
        &_test {
            &_promo {
                font-size: 22px;
            }
            &_survey {
                font-size: 18px;
            }
            &_gallery {
                font-size: 18px;
            }
        }
    }
}
@media (max-width:1440px) {
    .btn {
        &_header {
            font-size: 12px;
        }
        &_social {
            font-size: 16px;
        }
    }
}
@media (max-width: 1200px) {

}
@media (max-width: 992px) {
    .btn {
        &_header {
            width: 92.81%;
            height: 31px;
            font-size: 10px;
        }
        &_test {
            &_survey {
                width: 47.06%;
                height: 48px;
                border-radius: 0;
                font-size: 16px;
            }
        }
        &_back {
            display: block;
            width: 47.06%;
        }
    }
}
@media (max-width: 768px) {
    .btn {
        &_promo {
            width: 86.81%;
            height: 35px;
            font-size: 12px;
        }
        &_test {
            width: 100%;
            &_promo {
                height: 79px;
                font-size: 20px;
            }
            &_gallery {
                height: 55px;
                font-size: 16px;
            }
            &_survey {
                width: 47.06%;
                height: 48px;
                border-radius: 0;
                font-size: 16px;
            }
            &_result {
                width: 100%;
                height: 48px;
                border-radius: 0;
                font-weight: 600;
                font-size: 16px;
            }
        }
        &_social {
            width: 47.05%;
            height: 48px;
            font-size: 14px;
            a {
                gap: 9px;
            }
        }
    }
}
@media (max-width: 480px) {

}
