@media (max-width:1440px) {

}
@media (max-width: 1200px) {

}
@media (max-width: 992px) {

}
@media (max-width: 768px) {
    .btn {
        &_header {
            width: 92.81%;
            height: 31px;
            font-size: 10px;
        }
        &_promo {
            width: 86.81%;
            height: 35px;
            font-size: 12px;
        }
        &_test {
            width: 100%;
            &_promo {
                height: 79px;
                font-size: 20px;
            }
            &_gallery {
                height: 55px;
                font-size: 16px;
            }
            &_survey {
                width: 47.06%;
                height: 48px;
                font-size: 16px;
            }
        }
    }
}
@media (max-width: 480px) {

}
