@import 'title';
@import 'button';
@import 'consult';
@import 'roulette';
@import 'hundredth';
@import 'thanks';
@import 'header';
@import 'promo';
@import 'gallery';
@import 'survey';
@import 'footer';

.hide {
	display: none;
}
.show {
	display: block;
}
.flex {
	display: flex;
} 

@media (max-width: 768px) {
    .container {
        width: 86.3%;
    }
}
