@media (max-width:1600px) {
    .header {
        &_social {
            img {
                width: 43px;
                height: 43px;
            }
        }
    }
}
@media (max-width:1440px) {
    .header {
        &_social {
            gap: 10px;
            img {
                width: 35px;
                height: 35px;
            }
        }
    }
}
@media (max-width: 1200px) {
    .header {
        &_menu {
            &_logo {
                img {
                    height: 45px;
                }
            }
            &_text {
                margin-left: 8px;
                padding-left: 8px;
            }
        }
        &_contacts, &_social {
            gap: 7px;
        }
        &_social {
            img {
                width: 28px;
                height: 28px;
            }
        }
    }
}
@media (max-width: 1050px) {
    .header {
        &_social {
            .descr {
                display: none;
            }
        }
        &_contacts, &_social {
            gap: 7px 17px;
        }
    }
}
@media (max-width: 992px) {
    .header {
        padding-top: 14px;
        &_contacts {
            position: absolute;
            display: none;
            top: 60px;
            right: 0;
            text-align: center;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            width: 56.25%;
            height: 95px;
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
            background: #fff;
            img {
                height: 14px;
                margin-right: 7px;
                cursor: pointer;
            }
        }
        &_contacts, &_social {
            gap: 10px;
        }
        &_point {
            width: 6px;
            height: 6px;
            margin-right: 5px;
        }
        &_menu {
            &_logo {
                img {
                    height: 40px;
                }
            }
            &_text {
                display: none;
            }
        }
        &_social {
            img {
                width: 23px;
                height: 23px;
            }
            .descr {
                display: block;
            }
        }
        .mobile {
            display: block;
        }
    }
    nav {
        position: relative;
        height: 40px;
    }
}
@media (max-width: 768px) {

}
@media (max-width: 540px) {
    .header {
        &_social {
            .descr {
                display: none;
            }
        }
    }
}
@media (max-width: 480px) {

}
