@media (max-width:1440px) {
    .title {
        font-size: 18px;
    }
}
@media (max-width: 1200px) {
    .title {
        font-size: 17px;
    }
}
@media (max-width: 992px) {
    .title {
        font-size: 16px;
    }
    .descr {
        font-size: 12px;
    }
}
@media (max-width: 768px) {

}
@media (max-width: 480px) {
    .title {
        font-size: 14px;
        &_32 {
            font-size: 16px;
        }
        &_40 {
            font-size: 20px;
        }
        &_55 {
            font-size: 32px;
        }
    }
    .descr {
        font-size: 10px;
        &_16 {
            font-size: 14px;
        }
    }
}
