.footer {
    margin-top: 53px;
    padding: 23px 0;
    min-height: 105px;
    background: #171717;
    &_items {
        display: flex;
        justify-content: space-between;
    }
    &_left {
        &_content {
            display: flex;
            gap: 15px;
            img {
                height: 56px;
            }
            .descr_16 {
                display: flex;
                align-items: center;
                padding-left: 10px;
                border-left: 1px solid #fff;
                color: #fff;
            }
        }
        .semi-bold {
            margin-top: 25px;
            color: #fff;
        }
    }
    &_center {
        &_address {
            display: flex;
            gap: 21px;
            img {
                height: 28px;
            }
            .semi-bold {
                display: flex;
                align-items: end;
                color: #fff;
            }
        }
    }
    &_right {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 15px;
        &_contact {
            display: flex;
            gap: 18px;
            img {
                height: 28px;
            }
            .semi-bold {
                display: flex;
                align-items: end;
                color: #fff;
            }
        }
        &_logo {
            margin-top: 15px;
            img {
                height: 43px;
            }
        }
    }
    &_bottom {
        position: relative;
        .descr {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            line-height: 129%;
            color: #f9f9fb;
        }
    }
    .underline {
        text-decoration: underline;
    }
}
