.gallery {
    padding-top: 200px;
    min-height: 706px;
    &_slider {
        position: relative;
        width: 84.54%;
        margin: 55px auto 0 auto;
        &_prev, &_next {
            position: absolute;
            top: calc(50% - 20px);
        }
        &_prev {
            left: -80px;
        }
        &_next {
            right: -80px;
        }
        &_wrapper {
            overflow: hidden;
        }
        &_inner {
            display: flex;
            transition: 0.5s all;
        }
        &_indicators {
            position: absolute;
            right: 0;
            bottom: -71px;
            left: 0;
            z-index: 3;
            display: flex;
            justify-content: center;
            gap: 8px;
            list-style: none;
            .dot {
                width: 19px;
                height: 19px;
                border-radius: 100%;
                background: #D9D9D9;
                cursor: pointer;
            }
            .active {
                background: #04A9FC;
            }
        }
    }
    &_slide {
        display: flex;
        gap: 7%;
        &_image {
            width: 52%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px;
            }
        }
        &_content {
            width: 41%;
            &_address {
                margin-top: 55px;
                display: flex;
                align-items: end;
                gap: 23px;
            }
            &_equipment {
                margin-top: 55px;
                .light {
                    margin-top: 22px;
                }
            }
            &_parameters {
                margin-top: 102px;
                display: flex;
                gap: 67px;
                .title_24 {
                    margin-top: 11px;
                }
            }
            .title_32 {
                margin-top: 49px;
            }
            .btn_test {
                margin-top: 65px;
            }
        }
    }
    .title_40 {
        text-align: center;
    }
    .rotate {
        transform: rotate(180deg);
    }
}
