.survey {
    margin-top: 163px;
    &_wrapper {
        margin: 31px auto 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 28px 0 23px 0;
        width: 78.832%;
        max-height: 811px;
        border-radius: 20px;
        box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.25);
        background: #fff;
    }
    &_header, &_body, &_bottom {
        width: 73.53%;
    }
    &_count {
        padding: 0 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 19.79%;
        height: 40px;
        border-radius: 100px;
        background: #fff622;
    }
    &_header {
        display: flex;
        flex-direction: column;
        align-items: center;
        .thin {
            margin-top: 9px;
            text-align: center;
        }
    }
    &_body {
        margin-top: 17px;
        display: flex;
        flex-wrap: wrap;
        gap: 25px 3.56%;
        &_item {
            width: 30.955%;
            display: flex;
            flex-direction: column;
            gap: 15px;
            &_img {
                width: 100%;
                &_mobile {
                    display: none;
                }
            }
            &_text {
                overflow: visible;
                font-weight: 500;
                font-size: 14px;
                line-height: 200%;
                color: #000;
            }
        }
    }
    &_progress {
        margin-top: 17px;
        display: block;
        border-radius: 50px;
        width: 92.34%;
        height: 9px;
        &::-webkit-progress-bar {
            background: #f2f0f5;
            border-radius: 50px;
        }
        &::-webkit-progress-value {
            background: linear-gradient(0deg, #fff622 0%, #fffa89 100%);
            border-radius: 50px;
        }
        &::-moz-progress-bar {
            background: linear-gradient(0deg, #fff622 0%, #fffa89 100%);;
            border-radius: 50px;
        }
    }
    &_form {
        &_radio {
            position: absolute;
            z-index: -1;
        }
        &_label {
            display: flex;
            gap: 19px;
            cursor: pointer;
        }
        &_view {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 30px;
            height: 30px;
            border-radius: 100%;
            background: #e5e8f0;
            transition: .3s;
        }
        &_icon {
            transition: .3s;
        }
        &_radio:checked + &_view {
            background-color: #fff622;
            border: none;
        }
    }
    &_bottom {
        margin-top: 26px;
        display: flex;
        justify-content: center;
    }
    .title_40 {
        width: 78.83%;
        margin: 0 auto;
        text-align: center;
    }
    .title_28 {
        margin-top: 21px;
    }
}
