.title {
	font-weight: 500;
	font-size: 20px;
	color: #000;
	&_22 {
		font-size: 22px;
	}
}
.descr {
    font-weight: 400;
    font-size: 14px;
    color: #000;
}
.semi-bold {
	font-weight: 600;
}
.bold {
	font-weight: 700;
}
